{{page-title "About"}}

<div class="about page">
  <div class="about"></div>
  <h2>About Me</h2>
  <p>
    My name is Anna and I am a Front End Developer student on Medieinstitutet in Gothenburg.<br>
    This is my projekt with Ember.
  </p>

</div>
{{outlet}}