{{page-title "StartPage"}}
<header>
  <h1>Ember</h1>
</header>
<nav>
  <LinkTo @route="about">About</LinkTo>
  <LinkTo @route="images">Images</LinkTo>
  <LinkTo @route="contact">Contact</LinkTo>
</nav>

{{outlet}}