{{page-title "Contact"}}

<div class="contact page">
  <div class="contact"></div>
  <h2>Contact Me</h2>
  <p>
    My test page with Ember<br>
    Contact me if you want help :)
  </p>
    <a href="tel:070-29 23 166">+46 702 923 166</a><br>
    <a href="mailto:anna.ozmehak@gmail.com">anna.ozmehak@gmail.com</a>
</div>
{{outlet}}